/* Colours

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

*/

html {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

body {
    background-color: hsl(217, 54%, 11%);
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
}

.top-container {
    margin: 25px 25px 0px;
}

.top-container img {
    width: 300px;
    border-radius: 10px;
}

.top-container p {
    margin-bottom: 0;
}

.attribution {
    margin-top: 4rem;
    justify-self: flex-end;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

a:hover {
    color:hsl(178, 100%, 50%)
}

.bottom-container {
    margin: 0px 25px 17px;
}

.bottom-container img {
    height: 18px;
}

.bottom-container p {
    margin: 25px 0px 25px 8px;
}

.left p {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}

.top {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    align-items: center;
}

.line {
    height: 1px;
    background-color: hsl(215, 51%, 70%);
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar img {
    width: 33px;
    height: 33px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.avatar p {
    margin-left: 16px;
}

